
.modal{

}

.modalBackground{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    cursor: pointer;

}

.modalBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    border-radius: 8px;
    height: 50vh;
    border: 1px solid lightgray;
    background-color: #fff;
}

.modalWrapper{
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99999999;
}

.modalBox > button {
    color:#fff;
    background-color: #0095F6;
    border-radius: 6px;
    padding: 5px 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.closeModalBtn {
    justify-content: flex-end;
    width: 3vw;
    height: 3vh;
    font-size: 1.2rem;
    cursor: pointer;
}
