
.modalHeader{
border-bottom: 1px solid lightgray;
width: 100%;
text-align: center;
}

.modalBackground{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    cursor: pointer;

}

.modalBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    height: 40vw;
    border-radius: 8px;
    border: 1px solid lightgray;
    background-color: #fff;
}

.modalWrapper{
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99999999;
}
.modalBox{
    
}
.modalBoxBottom > button {
    color:#fff;
    background-color: #0095F6;
    width: 10vw;
    padding: 5px 9px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: bold;
}

.closeModalBtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    width: 3vw;
    height: 3vh;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
    
}

@media screen and (max-width: 1024px)  {
    .modalBox{
    height: 60vh;
       width: 80vw;
    }

    .closeModalBtn{
        width: 10vw;
    }

    .modalBoxBottom > button {
        width: 100%;
        padding: 1rem;
    }
}

