.navbar{
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 999;
    border-bottom: 1px solid lightgrey;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0.1rem;
    max-width: 1100px;
}



.logo{
    height: 8vh;
    width: 8vw;
    object-fit: cover;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.left {
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px;
    background-color:#EFEFEF;
    border-radius: 8px;
    font-size: 1.1rem;
}

.searchicon{
    font-size: 1.5rem;
}

.searchbar{
    border: none;
    padding: 0.3rem;
    outline: none;
    border-radius: 8px;
    font-size: 1.1rem;
    background-color:#EFEFEF;
    margin-right: 8px;
}

.right{   

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon{
    font-size: 1.75rem;
    margin-right: 1rem;
    cursor: pointer;
}

.userpp{
    width: 2vw;
    border-radius: 100%;
    object-fit: cover;
}