.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    z-index: 999;
    border-bottom: 1px solid lightgrey;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
    width: 1200px;
}



.logo{
    height: 8vh;
    min-width: 10vw;
    object-fit: contain;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px;
    background-color:#EFEFEF;
    border-radius: 8px;
    font-size: 1.1rem;
}

.searchicon{
    font-size: 1.5rem;
}

.searchbar{
    border: none;
    padding: 0.3rem;
    outline: none;
    border-radius: 8px;
    font-size: 1.1rem;
    background-color:#EFEFEF;
    margin-right: 8px;
}

.right{   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon{
    font-size: 1.75rem;
    margin-right: 1rem;
    cursor: pointer;
}

.userpp{
    width: 2vw;
    border-radius: 100%;
    object-fit: contain;
}

@media screen and (max-width: 1200px) {
    .logo {
    }

    .wrapper{
        padding: 0.5rem 1.5rem;
        width: 100%;
    }

    .center{
        display: none;
    }

    .userpp{
        width: 5vw;
    }
}