.sidebar{
    flex: 2 ;
    padding: 1rem;
    position: fixed;
    top: 0;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.userLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userImg{
    height: 7vh;
    width: auto;
    object-fit: contain;    
    margin-right: 0.5rem;
    font-weight: bold;
}

.blueColor{
    color: #0095F6;
    cursor: pointer;
}

.header{
    font-size: 1rem;
    color: grey;
}
.sugUser{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0;
}

.sugLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
}
.sugUserImg{
    object-fit: cover;
    height: 5vh;
    width: 2.5vw;
    margin-right: 0.75rem;
    cursor: pointer;
    border-radius: 100%;
}

@media screen and (max-width: 1024px) {
    .sidebar {
        display: none;
    }
}